* { margin:0; padding:0; box-sizing:border-box; }
html, body {
    width:100%;
    height:100%;
    font-family:'Segoe UI', sans-serif;
    background: black;
    color: white;
    overflow-x: hidden;
    position: relative;
}

.container {
    position: relative;
    z-index: 1;
    width:400px;
    max-width:90%;
    margin:80px auto;
    padding:30px;
    border-radius:20px;
    background: rgba(255,255,255,0.05);
    text-align:center;
    backdrop-filter: blur(5px);
}

h1 {
    margin-bottom:20px;
    font-weight:600;
    color:white;
    text-shadow:0 0 10px #fff;
}

input, button {
    font-size:16px;
    padding:12px;
    border-radius:12px;
    outline:none;
    border:1px solid #fff;
    margin:15px 0;
}

input {
    width:100%;
    background: rgba(255,255,255,0.05);
    color:white;
}

input::placeholder { color:rgba(255,255,255,0.6); }

button {
    cursor:pointer;
    font-weight:bold;
    background:black;
    color:white;
    width:80%;
    margin:15px 0;
    box-shadow: 0 0 5px #fff;
    border:none;
    transition: all 0.3s;
}

button:hover {
    filter: brightness(1.3);
    box-shadow:0 0 20px #fff, 0 0 40px #fff;
}

nav {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
    background: rgba(0,0,0,0.3);
    padding: 10px 15px;
    border-radius: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover { text-decoration: underline; }

.scrollable-container {
    max-height: 80vh;
    overflow-y: auto;
    padding: 10px;
    text-align:left;
}
